.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
**/build/
**/ios/Flutter/.last_build_id
lib/src/types.g.dart
pubspec.lock
lib/generated_plugin_registrant.dart
app.*.symbols
app.*.map.json
pubspec.lock
ios/cactus.xcframework
android/src/main/jniLibs
example/android 
example/ios